<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ЧМО</title>
    <style>

    </style>
</head>
<body>
<a  href="/api/about">О нас</a>
<center>
    <hr>
    <br>
    <div class = "post_image"><img width = 350; src="/cordellLogo.png"></div>
    <br>
<p style="font-size : 25px";>Привет, ЧМО! Добро пожаловать в Cordell.Stores!</p>
<form method="GET" action="api/prices">
    <button class = "link" type="submit" style="font-size : 25px; width: 50%; height: 60px;"> Посмотреть цены </button>
</form>
</center>
</body>
</html>